html,
body {
    padding: 20px;
    background-color: #CCC;
}

/*.variants {*/
/*    cursor: pointer;*/
/*    border: 1px solid #CDCDCD;*/
/*    text-align: center;*/
/*    !*width: 500px;*!*/
/*    margin: 0 auto;*/
/*    height: 223px;*/
/*    !*float: left;*!*/
/*}*/

/*.variants img {*/
/*    width: 100%;*/
/*    !*height: 223px;*!*/
/*    !*float: left;*!*/
/*}*/

.variants{
    cursor: pointer;
    border: 1px solid #CDCDCD;
    text-align: center;
    margin: 0 auto;
    /*display: none;*/
    /*float: left;*/
    height: auto;
    min-height: 1px;

}

.variants img{
    max-width: 100% !important;
}