html,
body {
    padding: 20px;
    background-color: #CCC;
}

.variants{
    cursor: pointer;
    border: 1px solid #CDCDCD;
    text-align: center;
    margin: 0 auto;
    height: auto;
    min-height: 1px;

}

.variants img{
    max-width: 100% !important;
}



